html,body{
    height: 100%
}


.logo {
    margin-right: 10px;
}


.btn-space {
    margin: 5px;
}


#holder{
    min-height: 100%;
    position:relative;
}


#body{
    padding-bottom: 50px; 
}


.footer{
    color: white;
    height: 50px; 
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.ajaxLoaderClass {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url("./ajax-loader.gif") 
                50% 50% 
                no-repeat;
  }
